@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  /* light theme */
  --background-color-light: hsl(0, 0%, 98%);
  --heading-light: hsl(200, 15%, 8%);
  --paragragh-light: hsl(209, 23%, 22%);
  --anchor-light: hsl(207, 26%, 17%);
  --input-light: hsl(0, 0%, 100%);
  --select-light: hsl(0, 0%, 100%);
  --navbar-light: hsl(0, 0%, 100%);

  /* dark theme */
  --background-color-dark: hsl(207, 26%, 17%);
  --heading-dark: hsl(0, 0%, 100%);
  --paragraph-dark: hsl(0, 0%, 100%);
  --anchor-dark: hsl(0, 0%, 100%);
  --navbar-dark: hsl(209, 23%, 22%);
  --input-dark: hsl(209, 23%, 22%);
  --select-dark: hsl(209, 23%, 22%);

  --anchor-hover: hsl(0, 0%, 52%);

  --font-size: 14px;
  --font-size-detailed-page: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--background-color-light);
    --heading: var(--heading-light);
    --paragraph: var(--paragragh-light);
    --anchor-color: var(--anchor-light);
    --select: var(--select-light);
    --navbar: var(--navbar-light);
    --input: var(--input-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-color-dark);
    --heading: var(--heading-dark);
    --paragraph: var(--paragraph-dark);
    --anchor-color: var(--anchor-dark);
    --select: var(--select-dark);
    --navbar: var(--navbar-dark);
    --input: var(--input-dark);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

#root {
  margin: auto;
}

body {
  background-color: var(--background-color);
}

p {
  color: var(--paragraph);
}

h1,
h2 {
  color: var(--heading);
}

.anchor-button,
a {
  color: var(--anchor-color);
  text-decoration: underline wavy 2px;
}

.anchor-button:hover,
a:hover {
  color: var(--anchor-hover);
  transition: 400ms;
}

.anchor-button {
  text-decoration: none;
}

#filter-by-region {
  background-color: var(--select);
  color: var(--heading);
}

.navbar {
  background-color: var(--navbar);
}

input[type="text"] {
  background-color: var(--input);
  color: var(--heading);
}

.country-border {
  color: var(--paragraph);
}

[color-scheme="dark"] {
  --background-color: var(--background-color-dark);
  --heading: var(--heading-dark);
  --paragraph: var(--paragraph-dark);
  --anchor-color: var(--anchor-dark);
  --select: var(--select-dark);
  --navbar: var(--navbar-dark);
  --input: var(--input-dark);

  [type="text"] {
    background-image: url(./assets/search-dark.svg);
  }

  .navbar ul li picture a img {
    filter: invert(100%);
  }
}

[color-scheme="light"] {
  /* --background-color: var(--background-color-light); */
  --heading: var(--heading-light);
  --paragraph: var(--paragragh-light);
  --anchor-color: var(--anchor-light);
  --select: var(--select-light);
  --navbar: var(--navbar-light);
  --input: var(--input-light);
}
